.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.ul-unstyled,
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.stn-padding {
  padding: 80px 0;
}
h2 {
  color: #d69963;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.7142857142857144em;
  padding-top: 150px;
}
p {
  font-size: 1.1428571428571428em;
  color: #fff;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold/RobotoBold.eot');
  src: url('../fonts/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype'), url('../fonts/RobotoBold/RobotoBold.svg#Roboto') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoLight/RobotoLight.eot');
  src: url('../fonts/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype'), url('../fonts/RobotoLight/RobotoLight.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'), url('../fonts/RobotoRegular/RobotoRegular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMedium/RobotoMedium.eot');
  src: url('../fonts/RobotoMedium/RobotoMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoMedium/RobotoMedium.woff') format('woff'), url('../fonts/RobotoMedium/RobotoMedium.ttf') format('truetype'), url('../fonts/RobotoMedium/RobotoMedium.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot');
  src: url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons/icons.woff') format('woff'), url('../fonts/icons/icons.ttf') format('truetype'), url('../fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.trigger-nav {
  display: none;
  color: #fff;
  font-size: 45px;
  float: right;
  outline: none;
  line-height: 1;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.trigger-nav:hover {
  color: #d69963;
}
@media (max-width: 992px) {
  .trigger-nav {
    display: block;
    color: #000;
  }
  .horizontal-nav {
    padding: 50px auto;
    position: absolute;
    left: 0;
    top: 114px;
    width: 100%;
    display: none;
    z-index: 9999;
  }
  .horizontal-nav li {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #3e4554;
    margin-left: 0;
    line-height: 2;
  }
  .horizontal-nav li a {
    display: inline-block;
  }
}
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.71428571;
}
.main-nav {
  background: #fff;
  padding: 30px 0;
}
.main-nav .name-logo {
  color: #000;
  font-weight: 600;
}
.main-nav .name-logo:hover {
  color: #d69963;
  text-decoration: none;
}
.main-nav .main-logo {
  margin: 10px;
}
.main-nav ul {
  margin-top: 7px;
  float: right;
}
@media (max-width: 992px) {
  .main-nav ul {
    background-color: #d69963;
    margin-top: 0;
  }
}
.main-nav ul li {
  display: inline-block;
  padding: 0;
  line-height: 3;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .main-nav ul li:first-child {
    border-top: 1px solid #ddd;
  }
}
@media (max-width: 991px) {
  .main-nav ul li {
    border-bottom: 1px solid #fff;
  }
}
.main-nav ul li:hover {
  background-color: #fff;
}
.main-nav ul li a {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  color: #000;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
@media (max-width: 991px) {
  .main-nav ul li a {
    color: #fff;
  }
}
.main-nav ul li a:hover {
  color: #d69963;
  text-decoration: none;
}
.main-nav ul li .order {
  text-decoration: none;
  border: 1px solid #000;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 25px;
}
@media (max-width: 992px) {
  .main-nav ul li .order {
    border: none;
  }
}
#owl-demo p {
  padding-top: 180px;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 42px;
  z-index: 9999;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  #owl-demo p {
    font-size: 34px;
    padding-right: 25px;
    padding-left: 25px;
  }
}
#owl-demo .one {
  background-image: url('../img/pexels-photo-63943-min.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  position: relative;
}
#owl-demo .one:before {
  position: absolute;
  content: '';
  background-color: #151b28;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  opacity: 0.7;
}
@media (max-width: 320px) {
  #owl-demo .one p {
    font-size: 28px ;
  }
}
#owl-demo .two {
  background-image: url('../img/food-dinner-lemon-rice-min.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  position: relative;
}
#owl-demo .two:before {
  position: absolute;
  content: '';
  background-color: #151b28;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  opacity: 0.7;
}
@media (max-width: 425px) {
  #owl-demo .two p {
    padding-top: 160px;
    font-size: 34px;
  }
}
@media (max-width: 375px) {
  #owl-demo .two p {
    padding-top: 140px;
  }
}
@media (max-width: 320px) {
  #owl-demo .two p {
    font-size: 28px ;
  }
}
#owl-demo .three {
  background-image: url('../img/food-salad-healthy-vegetables-min.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  position: relative;
}
#owl-demo .three:before {
  position: absolute;
  content: '';
  background-color: #151b28;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  opacity: 0.7;
}
@media (max-width: 425px) {
  #owl-demo .three p {
    padding-top: 140px;
    font-size: 34px;
  }
}
@media (max-width: 375px) {
  #owl-demo .three p {
    padding-top: 110px;
    font-size: 34px;
  }
}
@media (max-width: 320px) {
  #owl-demo .three p {
    font-size: 28px ;
    padding-top: 130px;
  }
}
#owl-demo .four {
  background-image: url('../img/pexels-photo-62097-min.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  position: relative;
}
#owl-demo .four:before {
  position: absolute;
  content: '';
  background-color: #151b28;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  opacity: 0.7;
}
@media (max-width: 375px) {
  #owl-demo .four p {
    padding-top: 165px;
    font-size: 34px;
  }
}
@media (max-width: 320px) {
  #owl-demo .four p {
    font-size: 28px ;
  }
}
.perfect {
  padding: 40px 0;
  text-align: center;
  background-image: url('../img/Gratia1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
@media (max-width: 375px) {
  .perfect {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.perfect .perfection {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3.4285714285714284em;
  padding-top: 80px;
}
@media (max-width: 991px) {
  .perfect .perfection {
    padding-top: 25px;
  }
}
.perfect p {
  color: #8a8f9c;
  font-size: 1.7142857142857142em;
}
@media (max-width: 320px) {
  .perfect .perfection {
    font-size: 2.7142857142857144em;
  }
  .perfect p {
    font-size: 1.2857142857142858em;
  }
}
.main-foods {
  text-align: center;
}
.main-foods .tortik {
  background-image: url('../img/tortik.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  margin-top: 115px;
  position: relative;
  z-index: 9999;
}
@media (max-width: 1024px) {
  .main-foods .tortik {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 991px) {
  .main-foods .tortik {
    margin-top: 0;
  }
}
@media (max-width: 430px) {
  .main-foods .tortik {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.main-foods .tortik:before {
  position: absolute;
  content: '';
  background-color: #151b28;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.6;
}
.main-foods .tortik h2 {
  color: #d69963;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.7142857142857144em;
  padding-top: 150px;
}
.main-foods .tortik p {
  font-size: 1.1428571428571428em;
  color: #fff;
}
.main-foods .berry {
  background-image: url('../img/berry.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 580px;
  background-size: cover;
  margin: 0 25px;
}
@media (max-width: 1448px) {
  .main-foods .berry {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 1024px) {
  .main-foods .berry {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 991px) {
  .main-foods .berry {
    height: 400px;
    margin: 0;
    display: none;
  }
}
.main-foods .berry h2 {
  text-transform: uppercase;
  color: #000;
  padding-top: 415px;
  font-weight: 600;
  font-size: 2.7142857142857144em;
}
@media (max-width: 991px) {
  .main-foods .berry h2 {
    padding-top: 150px;
  }
}
.main-foods .berry p {
  font-size: 1.1428571428571428em;
  color: #8b909d;
}
.main-foods .eggs {
  background-image: url('../img/eggs.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  margin-top: 115px;
  position: relative;
  z-index: 9999;
}
@media (max-width: 1024px) {
  .main-foods .eggs {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 991px) {
  .main-foods .eggs {
    margin-top: 20px;
  }
}
@media (max-width: 430px) {
  .main-foods .eggs {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.main-foods .eggs:before {
  position: absolute;
  content: '';
  background-color: #151b28;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.8;
}
.main-foods .eggs h2 {
  color: #d69963;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.7142857142857144em;
  padding-top: 150px;
}
.main-foods .eggs p {
  font-size: 1.1428571428571428em;
  color: #fff;
}
.main-foods .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.main-foods .check-other {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  border-bottom: 1px solid #d69963;
  padding-bottom: 5px;
}
.main-foods .check-other a {
  text-decoration: none;
  color: #d69963;
}
.details {
  margin-top: 70px;
  background-image: url('../img/biscuit.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}
.details .block {
  text-align: center;
  height: 400px;
  width: 650px;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px;
}
@media (max-width: 730px) {
  .details .block {
    width: 600px;
  }
}
@media (max-width: 690px) {
  .details .block {
    width: 550px;
  }
}
@media (max-width: 640px) {
  .details .block {
    width: 520px;
  }
}
@media (max-width: 575px) {
  .details .block {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .details .block {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .details .block {
    width: 350px;
  }
}
@media (max-width: 375px) {
  .details .block {
    width: 300px;
  }
}
@media (max-width: 305px) {
  .details .block {
    width: 275px;
  }
}
.details .block .block-item {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(216, 155, 100, 0.5);
  line-height: 3;
  padding: 70px;
}
@media (max-width: 530px) {
  .details .block .block-item {
    line-height: 2;
    padding: 65px 40px;
  }
}
@media (max-width: 410px) {
  .details .block .block-item {
    padding: 65px 20px;
  }
}
.details .block .block-item h1 {
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}
.details .block .block-item p {
  color: #9a9ea9;
  font-size: 1.1428571428571428em;
}
.details .block .block-item .prepar {
  text-transform: uppercase;
  color: #d69963;
  border: 1px solid rgba(216, 155, 100, 0.5);
  padding: 10px 15px;
  font-weight: 600;
}
@media (max-width: 450px) {
  .details .block .block-item .prepar {
    font-size: 11px;
  }
}
@media (max-width: 375px) {
  .details .block .block-item .prepar {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .details .block .block-item .prepar {
    font-size: 10px;
  }
}
@media (max-width: 305px) {
  .details .block .block-item .prepar {
    font-size: 8px;
  }
}
.details .block .block-item .prepar:hover {
  text-decoration: none;
}
.reach {
  background-image: url('../img/Gratia1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 100px 0;
  text-align: center;
}
@media (max-width: 375px) {
  .reach {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.reach h2 {
  margin-top: -100px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3.4285714285714284em;
}
.reach p {
  color: #9a9ea9;
  font-size: 1.2857142857142858em;
}
.reach-items {
  text-align: center;
}
.reach-items h2 {
  color: #d69963;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.7142857142857144em;
  padding-top: 165px;
}
@media (max-width: 1024px) {
  .reach-items h2 {
    padding-top: 135px;
  }
}
@media (max-width: 991px) {
  .reach-items h2 {
    padding-top: 165px;
  }
}
@media (max-width: 768px) {
  .reach-items h2 {
    padding-top: 170px;
  }
}
@media (max-width: 375px) {
  .reach-items h2 {
    padding-top: 140px;
  }
}
.reach-items p {
  font-size: 1.1428571428571428em;
  color: #fff;
}
.reach-items .diffrent-loc {
  background-image: url('../img/4.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  padding-top: 5px;
  padding: 0 10px;
}
.reach-items .diffrent-loc p {
  font-size: 1.1428571428571428em;
  color: #9a9ea9;
}
.reach-items .fresh-prod {
  background-image: url('../img/532.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  padding: 0 10px;
}
.reach-items .fresh-prod p {
  font-size: 1.1428571428571428em;
  color: #fff;
}
.reach-items .the-best {
  background-image: url('../img/16.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  padding: 0 10px;
}
.reach-items .the-best p {
  font-size: 1.1428571428571428em;
  color: #9a9ea9;
}
.line-with-logo {
  margin-top: 100px;
  text-align: center;
}
.line-with-logo .logotip {
  height: 80px;
  border: 1px solid rgba(216, 155, 100, 0.5);
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
  background-color: #fff;
}
.line-with-logo hr {
  border: none;
  background-color: rgba(216, 155, 100, 0.5);
  color: rgba(216, 155, 100, 0.5);
  /* Цвет линии для IE6-7 */
  height: 1px;
  width: 100%;
  position: relative;
  bottom: 60px;
  z-index: -1;
}
footer {
  text-align: center;
  padding-bottom: 90px;
}
footer p:first-child {
  color: #000;
  font-weight: 600;
}
footer .copy-right {
  color: #9a9ea9;
  font-style: italic;
}
footer hr {
  width: 150px;
}
footer a {
  cursor: pointer;
}
footer .fa-twitter {
  font-size: 16px;
  margin: 0 10px;
  background-color: #d69963;
  padding: 7px;
  border-radius: 50%;
  color: #fff;
  opacity: .7;
  transition: all 0.5s ease-in-out;
}
footer .fa-twitter:hover {
  opacity: 1;
}
footer .fa-instagram {
  font-size: 16px;
  margin: 0 10px;
  background-color: #d69963;
  padding: 7px 8px;
  border-radius: 50%;
  color: #fff;
  opacity: .7;
  transition: all 0.5s ease-in-out;
}
footer .fa-instagram:hover {
  opacity: 1;
}
footer .fa-vk {
  font-size: 16px;
  margin: 0 10px;
  background-color: #d69963;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 6px;
  border-radius: 50%;
  color: #fff;
  opacity: .7;
  transition: all 0.5s ease-in-out;
}
footer .fa-vk:hover {
  opacity: 1;
}
footer .fa-arrow-up {
  font-size: 16px;
  margin: 0 10px;
  background-color: #d69963;
  padding: 7px;
  border-radius: 50%;
  color: #fff;
  opacity: .7;
  transition: all 0.5s ease-in-out;
}
footer .fa-arrow-up:hover {
  opacity: 1;
}
.btn-up {
  position: fixed;
  right: 5%;
  bottom: 50px;
  font-weight: 600;
  font-size: 16px;
  display: none;
  z-index: 9999;
}
.btn-up .fa {
  padding: 20px;
}
