.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.ul-unstyled,
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.stn-padding {
  padding: 80px 0;
}
h2 {
  color: #d69963;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.7142857142857144em;
  padding-top: 150px;
}
p {
  font-size: 1.1428571428571428em;
  color: #fff;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold/RobotoBold.eot');
  src: url('../fonts/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype'), url('../fonts/RobotoBold/RobotoBold.svg#Roboto') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoLight/RobotoLight.eot');
  src: url('../fonts/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype'), url('../fonts/RobotoLight/RobotoLight.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'), url('../fonts/RobotoRegular/RobotoRegular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMedium/RobotoMedium.eot');
  src: url('../fonts/RobotoMedium/RobotoMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoMedium/RobotoMedium.woff') format('woff'), url('../fonts/RobotoMedium/RobotoMedium.ttf') format('truetype'), url('../fonts/RobotoMedium/RobotoMedium.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot');
  src: url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons/icons.woff') format('woff'), url('../fonts/icons/icons.ttf') format('truetype'), url('../fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.trigger-nav {
  display: none;
  color: #fff;
  font-size: 45px;
  float: right;
  outline: none;
  line-height: 1;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.trigger-nav:hover {
  color: #d69963;
}
@media (max-width: 992px) {
  .trigger-nav {
    display: block;
  }
  .horizontal-nav {
    padding: 50px auto;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 9999;
    background-color: #222a3c;
    width: 100%;
    display: none;
  }
  .horizontal-nav li {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #3e4554;
    margin-left: 0;
    line-height: 2;
  }
  .horizontal-nav li a {
    display: inline-block;
  }
}
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.71428571;
}
.main-nav {
  background-color: #fff;
  padding: 30px 0;
  border-bottom: 1px solid #e6e6e6;
}
@media (max-width: 992px) {
  .main-nav .horizontal-nav {
    top: 115px;
  }
}
.main-nav .name-logo {
  color: #000;
  font-weight: 600;
}
.main-nav .name-logo:hover {
  color: #d69963;
  text-decoration: none;
}
.main-nav .main-logo {
  margin: 10px;
}
.main-nav ul {
  margin-top: 7px;
  background-color: #fff;
  float: right;
}
@media (max-width: 991px) {
  .main-nav ul {
    background-color: #d69963;
    margin-top: 0;
  }
}
.main-nav ul li {
  display: inline-block;
  padding: 0;
  line-height: 3;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 991px) {
  .main-nav ul li {
    border-bottom: 1px solid #fff;
  }
}
.main-nav ul li:hover {
  background-color: #fff;
}
.main-nav ul li a {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  color: #000;
  transition: all 0.5s ease-in-out;
  outline: none;
  width: 100%;
}
@media (max-width: 991px) {
  .main-nav ul li a {
    color: #fff;
  }
}
.main-nav ul li a:hover {
  color: #d69963;
  text-decoration: none;
}
.main-nav ul li .order {
  text-decoration: none;
  border: 1px solid #000;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px 25px;
}
@media (max-width: 992px) {
  .main-nav ul li .order {
    border: 1px solid #fff;
  }
}
.main-nav ul li .order:hover {
  border: 1px solid #d69963;
}
.main-nav .trigger-nav {
  color: #000;
}
.main-nav .trigger-nav:hover {
  color: #d69963;
}
.menu {
  background-image: url('../img/Gratia1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
  padding: 60px 0;
}
.menu h2 {
  padding-top: 0px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3.4285714285714284em;
}
.menu p {
  color: #8a8f9c;
  font-size: 1.7142857142857142em;
}
.item .container:first-child {
  box-shadow: 0 0 5px #000;
}
.item h2 {
  padding-top: 0;
  font-weight: 600;
  text-transform: uppercase;
}
.item p {
  color: #9a9ea9;
}
.item .col-md-5 {
  padding-left: 0;
  padding-right: 0;
}
.item img {
  width: 100%;
  height: 510px;
}
@media (max-width: 991px) {
  .item img {
    height: 530px;
  }
}
.item .col-md-7 {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  height: 510px;
}
@media (max-width: 425px) {
  .item .col-md-7 {
    height: 550px;
  }
}
.item .col-md-7 .block-1 {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 320px) {
  .item .col-md-7 .block-1 {
    padding: 20px 10px;
  }
}
.item .col-md-7 .block-2 {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.item .col-md-7 .block-2 h2 {
  text-transform: none;
}
.item .col-md-7 .block-3 {
  padding: 15px 0;
}
@media (max-width: 768px) {
  .item .col-md-7 .block-3 {
    padding: 25px 40px;
  }
}
.item .col-md-7 .block-3 h1 {
  font-weight: 600;
  color: #829c2c;
}
.item .col-md-7 .block-3 .buy {
  cursor: pointer;
  outline: none;
  padding: 10px 40px;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid #d69963;
  color: #d69963;
  transition: all 0.5s ease-in-out;
}
.item .col-md-7 .block-3 .buy:hover {
  background-color: #d69963;
  color: #fff;
}
.line-with-logo {
  margin-top: 100px;
  text-align: center;
}
.line-with-logo .logotip {
  height: 80px;
  border: 1px solid rgba(216, 155, 100, 0.5);
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
  background-color: #fff;
}
.line-with-logo hr {
  border: none;
  background-color: rgba(216, 155, 100, 0.5);
  color: rgba(216, 155, 100, 0.5);
  /* Цвет линии для IE6-7 */
  height: 1px;
  width: 100%;
  position: relative;
  bottom: 60px;
  z-index: -1;
}
footer {
  text-align: center;
  padding-bottom: 90px;
}
footer p:first-child {
  color: #000;
  font-weight: 600;
}
footer .copy-right {
  color: #9a9ea9;
  font-style: italic;
}
footer hr {
  width: 150px;
}
footer a {
  cursor: pointer;
}
footer .fa-twitter {
  font-size: 16px;
  margin: 0 10px;
  background-color: #d69963;
  padding: 7px;
  border-radius: 50%;
  color: #fff;
  opacity: .7;
  transition: all 0.5s ease-in-out;
}
footer .fa-twitter:hover {
  opacity: 1;
}
footer .fa-instagram {
  font-size: 16px;
  margin: 0 10px;
  background-color: #d69963;
  padding: 7px 8px;
  border-radius: 50%;
  color: #fff;
  opacity: .7;
  transition: all 0.5s ease-in-out;
}
footer .fa-instagram:hover {
  opacity: 1;
}
footer .fa-vk {
  font-size: 16px;
  margin: 0 10px;
  background-color: #d69963;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 6px;
  border-radius: 50%;
  color: #fff;
  opacity: .7;
  transition: all 0.5s ease-in-out;
}
footer .fa-vk:hover {
  opacity: 1;
}
footer .fa-arrow-up {
  font-size: 16px;
  margin: 0 10px;
  background-color: #d69963;
  padding: 7px;
  border-radius: 50%;
  color: #fff;
  opacity: .7;
  transition: all 0.5s ease-in-out;
}
footer .fa-arrow-up:hover {
  opacity: 1;
}
.btn-up {
  position: fixed;
  right: 5%;
  bottom: 50px;
  font-weight: 600;
  font-size: 16px;
  display: none;
  z-index: 9999;
}
.btn-up .fa {
  padding: 20px;
}
